/*****
HEADER
*****/

/*****
BODY
*****/

#AccountCreation
{
	margin: 25px;
}

form
{
	margin: 25px;
}

#TwitchLink
{
	margin: 25px;
}
body
{
	background-image: url(../img/wood_background.jpg);
	background-size: 100%;
}
h1
{
	color: #FFFFFF;
	text-align: center;
}
div.container
{
	background-image: url(../img/paper_background.jpg);
	background-size: cover;
	width: 30%;
	display: inline-flex;
	margin: 1%;	
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    text-align: center;
	width: 95%;
	margin: 2%;
}

/* Style each tab content individually */ 
#Submit {background-color:red;}
#Read {background-color:green;}
#About {background-color:blue;}
#Contact {background-color:orange;}