/*****
HEADER
*****/

/*****
BODY
*****/

#AccountCreation
{
	margin: 25px;
}

form
{
	margin: 25px;
}

#TwitchLink
{
	margin: 25px;
}
body
{
	background-image: url(../img/wood_background.jpg);
	background-size: 100%;
}
div
{
	background-image: url(../img/paper_background.jpg);
	background-size: cover;
	width: 30%;
	display: inline-flex;
	margin: 1%;	
}